//https://github.com/robmuh/css-colors-solarized/blob/master/styles/colors-solarized.styl
// vim: ts=2:sts=2:sw=2

// the base color selector light or dark
the-bg = "dark"

// the actual color definition. For base16, its done in a quite generic way...
base00(a=1)     // dark: bg
  rgba(#000000, a)
base01(a=1)     // dark: bg highlight
  rgba(#303030, a)
base02(a=1)     // light: emphasized; dark: comment
  rgba(#505050, a)
base03(a=1)     // light: std. text
  rgba(#B0B0B0, a)
base04(a=1)     // dark: std. text
  rgba(#D0D0D0, a)
base05(a=1)     // light: comment; dark: emphasized
  rgba(#E0E0E0, a)
base06(a=1)     // light: bg highlight
  rgba(#F5F5F5, a)
base07(a=1)     // light: bg
  rgba(#FFFFFF, a)
base08(a=1)     // syellow
  rgba(#FB0120, a)
base09(a=1)     // sorange
  rgba(#FC6D24, a)
base0A(a=1)     // sred
  rgba(#FDA331, a)
base0B(a=1)     // smagenta
  rgba(#A1C659, a)
base0C(a=1)     // sviolet
  rgba(#76C7B7, a)
base0D(a=1)     // sblue
  rgba(#6FB3D2, a)
base0E(a=1)     // scyan
  rgba(#D381C3, a)
base0F(a=1)     // sgreen
  rgba(#BE643C, a)

// generic, selector-dependend color selection
bgcol(a=1)
  if the-bg == "light"
    base07(a)
  else
    base01(a)
bghcol(a=1)
  if the-bg == "light"
    base06(a)
  else
    base01(a)
fgcol(a=1)
  if the-bg == "light"
    base03(a)
  else
    base04(a)
fghcol(a=1)
  if the-bg == "light"
    base02(a)
  else
    base05(a)
comment(a=1)
  if the-bg == "light"
    base05(a)
  else
    base02(a)

// solarized equivalenz wrapper
syellow(a=1)
  base08(a)
sorange(a=1)
  base09(a)
sred(a=1)
  base0A(a)
smagenta(a=1)
  base0B(a)
sviolet(a=1)
  base0C(a)
sblue(a=1)
  base0D(a)
scyan(a=1)
  base0E(a)
sgreen(a=1)
  base0F(a)

