//https://github.com/robmuh/css-colors-solarized/blob/master/styles/colors-solarized.styl
// vim: ts=2:sts=2:sw=2

the-bg = "dark"
bgcol(a=1)
  if the-bg == "light"
    base3(a)
  else
    base03(a)
bghcol(a=1)
  if the-bg == "light"
    base2(a)
  else
    base02(a)
fgcol(a=1)
  if the-bg == "light"
    base0(a)
  else
    base00(a)
fghcol(a=1)
  if the-bg == "light"
    base01(a)
  else
    base1(a)
comment(a=1)
  if the-bg == "light"
    base1(a)
  else
    base01(a)

base03(a=1)
  rgba(00,43,54,a)    // #002b36 dark: bg

base02(a=1)
  rgba(07,54,66,a)    // #073642 dark: bg highlight

base01(a=1)
  rgba(88,110,117,a)  // #586e75 light: emphasized; dark: comment

base00(a=1)
  rgba(101,123,131,a) // #657b83 light: std. text

base0(a=1)
  rgba(131,148,150,a) // #839496 dark: std. text

base1(a=1)
  rgba(147,161,161,a) // #93a1a1 light: comment; dark: emphasized

base2(a=1)
  rgba(238,232,213,a) // #eee8d5 light: bg highlight

base3(a=1)
  rgba(253,246,227,a) // #fdf6e3 light: bg

syellow(a=1)
  rgba(181,137,0,a) // #b58900

sorange(a=1)
  rgba(203,75,22,a) // #cb4b16

sred(a=1)
  rgba(220,50,47,a) // #dc322f

smagenta(a=1)
  rgba(211,54,130,a) // #d33682

sviolet(a=1)
  rgba(108,113,196,a) // #6c71c4

sblue(a=1)
  rgba(38,139,210,a) // #268bd2

scyan(a=1)
  rgba(42,161,152,a) // #2aa198

sgreen(a=1)
  rgba(133,153,0,a) // #859900

.base03
  color base03()

.base03bg
  background base03()

.base02
  color base02()

.base02bg
  background base02()

.base01
  color base01()

.base01bg
  background base01()

.base00
  color base00()

.base00bg
  background base00()

.base0
  color base0()

.base0bg
  background base0()

.base1
  color base1()

.base1bg
  background base1()

.base2
  color base2()

.base2bg
  background base2()

.base3
  color base3()

.base3bg
  background base3()

.syellow
  color syellow()

.syellowbg
  background syellow()

.sorange
  color sorange()

.sorangebg
  background sorange()

.sred
  color sred()

.sredbg
  background sred()

.smagenta
  color smagenta()

.smagentabg
  background smagenta()

.sviolet
  color sviolet()

.svioletbg
  background sviolet()

.sblue
  color sblue()

.sbluebg
  background sblue()

.scyan
  color scyan()

.scyanbg
  background scyan()

.sgreen
  color sgreen()

.sgreenbg
  background sgreen()

